<!DOCTYPE html>
<html>
    <head>
        <title>Copy Some Text</title>
    </head>
    <body>
        <h1>Choose a user and paste your copied text in the box below to save</h1>
        <form action="/clipboard/copy" method="POST">
            <input type="radio" id="pa" name="user" value="pa">
            <label for="pa">pa</label><br><br>
            <input type="radio" id="ma" name="user" value="ma">
            <label for="ma">ma</label><br><br>
            <input type="radio" id="ya" name="user" value="ya">
            <label for="ya">ya</label><br><br>
            <input type="radio" id="dik" name="user" value="dik">
            <label for="dik">dik</label><br><br>
            <textarea id="copy" name="text" rows="20" cols="100"></textarea>
            <input type="submit" value="Copy">
        </form>
    </body>
</html>
