<!DOCTYPE html>
<html>
    <head>
        <title>Success! Text Copied!</title>
    </head>
    <body>
        <h1>Text copied!</h1>
        <p>Retrieve your text by visiting http://192.168.1.27:4567/paste.</p>
    </body>
</html>
