<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h1>Error in downloading media file from YouTube</h1>
        <p>Either the URL is incorrect or the requested quality is not available.</p>
    </body>
</html>
