<!DOCTYPE html>
<html>
    <head>
        <title>Upload a file</title>
    </head>
    <body>
        <h1>Choose user and file to upload to the server</h1>
        <form action="/file/upload" method="POST" enctype="multipart/form-data">
            <input type="radio" id="pa" name="user" value="pa">
            <label for="pa">pa</label><br><br>
            <input type="radio" id="ma" name="user" value="ma">
            <label for="ma">ma</label><br><br>
            <input type="radio" id="ya" name="user" value="ya">
            <label for="ya">ya</label><br><br>
            <input type="radio" id="dik" name="user" value="dik">
            <label for="dik">dik</label><br><br>            
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </body>
</html>
