<!DOCTYPE html>
<html>
    <head>
        <title>Download file</title>
    </head>
    <body>
        <h1>Choose user to download recently uploaded file</h1>
        <form action="/file/download">
            <input type="radio" id="pa" name="user" value="pa">
            <label for="pa">pa</label><br><br>
            <input type="radio" id="ma" name="user" value="ma">
            <label for="ma">ma</label><br><br>
            <input type="radio" id="ya" name="user" value="ya">
            <label for="ya">ya</label><br><br>
            <input type="radio" id="dik" name="user" value="dik">
            <label for="dik">dik</label><br><br>
            <input type="submit" value="Download File">
        </form>
    </body>
</html>
