<!DOCTYPE html>
<html>
    <head>
        <title>Success! File Saved!</title>
    </head>
    <body>
        <h1>File Saved!</h1>
        <p>Retrieve your file by visiting http://192.168.1.27:4567/filedown.</p>
    </body>
</html>
