<!DOCTYPE html>
<html>
    <head>
        <title>PDF Compressor</title>
    </head>
    <body>
        <h1>Upload PDF File To Compress</h1>
        <form action="/pdf/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload PDF">
        </form>
    </body>
</html>
