<!DOCTYPE html>
<html>
    <head>
        <title>Paste Text</title>
    </head>
    <body>
        <h1>Here is your copied text</h1>
        <textarea id="paste" name="paste" rows="50" cols="100"><%= text %></textarea>
    </body>
</html>
