<!DOCTYPE html>
<html>
    <head>
        <title>YouTube Downloader</title>
    </head>
    <body>
        <h1>YouTube Media Downloader</h1>
        <form action="/youtube/download">
            <input type="radio" id="high_video" name="format" value="high_video">
            <label for="high_video">Video, High Quality</label><br><br>
            <input type="radio" id="low_video" name="format" value="low_video">
            <label for="low_video">Video, WhatsApp Quality</label><br><br>
            <input type="radio" id="audio" name="format" value="audio">
            <label for="audio">Audio</label><br><br>
            <input type="url" name="url">
            <input type="submit" value="Download">
        </form>
    </body>
</html>
